<div class="langtag">
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value);setLang(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>
</div>

<div [innerHTML]="'HOME.HELLO' | translate"></div>
<hr>
<router-outlet></router-outlet>
<hr>